header h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 
CSS Styles 
- Absoolute Units
    - units that are always the same no matter the viewport size
    - px
- Relative Units
    - units that are relative to the viewport size or other elements
    - em
        - relative to the font-size of the element
        - elements default font size is 16pt, 4em would be 64pt (4 * 16pt)
    - rem
        - relative to the font-size of the root element
        - elements default font size is 16pt, 4rem would be 64pt (4 * 16pt)
- Viewport Units
    - units that are relative to the viewport size
    - vw (viewport width)
    - vh (viewport height)
    - vmin (viewport minimum)
    - vmax (viewport maximum)
*/

/*
More Text Styles
- Fonts
    - Font Stacks
        - A list of fonts to be used for an element
        - The browser will use the first available font based on the fonts installed on the users system
        - Example: font-family: "Helvetica Neue", Arial, sans-serif;
    - Web Fonts
        - can use a font that wont be available on every users device but you need to import it to your project
            - <link rel="preconnect" href="https://fonts.googleapis.com">
            - <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            - <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            or
            - @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); for CSS file
-Text Styles
    - font-style is used to make text italic
    - letter-spacing is used to alter the space between letters
    - line-height is used to set the amount of space above and below inline elements
    - text-transform is used to change the case of text
        - uppercase
        - lowercase
        - capitalize
    - text-shadow is used to add shadow to text
    - ellipsis is used to indicate that text has been truncated
*/

/*
More CSS Properties
- 
*/
